html {
    font-family: 'Times New Roman', sans-serif;
    background-color: #EFDECD;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #87A96B;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 30px auto;
    border-radius: 100%;
    border: 20px ridge gold;
}

h1 {
    font-size: 24px;
    margin-top: 30px;
}

p {
    font-size: 16px;
    margin-top: 12px;
}

#element1 {
    color: 	#964B00;
}

#element2 {
    color: 	#7B3F00;
}

#element3 {
    color: #C95A49;
}

#element4 {
    color: #954535;
}
